@use '../custom' as *;
@use './mixin' as *;

.btn-lg {
    padding: 1.3rem 7rem 1.3rem 2rem;
    @include media-breakpoint-down(sm) {
        padding: 1rem 7rem 1rem 2rem;
    }
}
.btn-sm {
    padding: 1rem 5rem 1rem 2rem;
}
.btn-pill {
    font-size: 1.6rem;
    border: 1px solid transparent;
    outline: none;
    background-color: $white;
    position: relative;
    transition: 0.1s ease;
    i {
        position: absolute;
        right: 6%;
        top: 50%;
        transform: translateY(-50%);
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        color: $white;
        border-radius: 50%;
    }
    &:hover {
        @include gradient;
        color: white;
        border: 2px solid $gray-500;
        i {
            background-color: darken($primary, 20px);
        }
    }
}

.btn-border {
    border: 2px solid $primary;
    &:hover {
        @include gradient;
        color: white;
        border: 2px solid $primary;
        i {
            background-color: darken($primary, 20px);
        }
    }
}

.button-nav {
    padding: 1rem 1.8rem;
    i {
        color: $white;
        font-size: 1.4rem;
    }
    &:is(:active,:hover,:focus) {
        outline: none;
        i {
            color: $black !important;
        }
    }
}

.btn-form {
    width: 100%;
    text-align: center;
    padding: 1.2rem 0;
    border-radius: 100px;
    font-size: 1.8rem;
}

.btn-home {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    width: 6rem;
    height: 6rem;
    @include media-breakpoint-down(md) {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 2rem;

    }
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}